.form {
  width: 100%;
  max-width: 360px;
}

.textarea {
  width: 100%;
  height: auto;
  min-height: 88px;
  padding: 10px 20px;
  border: 0;
  outline: 2px solid #0c00b1;
  border-radius: 7px;
  background-color: #f3f3f3;
  font-size: 18px;
  line-height: 1.25;
  color: #070065;
  resize: none;
}
